ipykernel==7.2.0
pandas==3.0.1
numpy==2.4.2
matplotlib==3.10.8
shiny==1.5.1
shinywidgets==0.7.1
ipyleaflet==0.20.0
altair==6.0.0
faicons==0.2.2
querychat==0.5.1
chatlas==0.13.2
shinychat>=0.2.8
python-dotenv
anthropic
pyarrow==23.0.1
pyarrow-hotfix==0.7
ibis-framework==12.0.0  
duckdb==1.4.4          